@model Employee
@inject IEmployeeRepository _employessRepository

@{
    ViewBag.Title = "Create Employee";
}

<form asp-controller="Home" asp-action="Create" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Department"></label>
        <select asp-for="Department" asp-items="Html.GetEnumSelectList<Departments>()"></select>
    </div>
    <div>
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div>
        Total Employee = @_employessRepository.GetEmployees().Count()
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>